body{
  background-color: green;
}
#cabecera{
  width: auto;
  height: 100px;
  background-color: white;
}
#contenedor{
  background-color: pink;
  width: 900px;
  height: 700px;
  margin: 0 auto;
}
p{
  line-height:
}
.boletes{
  background-color: black;
}
